* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fa;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #b33636;
}

#loadButton {
    margin: 20px;
    padding: 10px 20px;
    background-color: #b33636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reloadButton:hover {
    background-color: #2e59d9;
}

#postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 2em;
}

.post {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    width: 20em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}