@import "fonts/font_styles.css";
@import "pallete.css";
@import "random.css";
@import "boxes.css";

body {
    font-family: 'Droid Serif';
}

h1 {
    background-color: var(--color-main);
    color: white;
    display: inline-block;
    padding: 7px 10px 5px 10px;
    border-radius: 10px;
}

h1,
h2,
h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.remark-slide-content h1 {
    font-size: 3em;
}

.remark-slide-content h2 {
    font-size: 2em;
}

.remark-slide-content h3 {
    font-size: 1.6em;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
    background-color: var(--color-highlighted-code);
}

.remark-slide-content.left.no-padding-around h1 {
    margin-left: 80px;
}

.remark-slide .no-padding-around {
    padding-left: 0px;
    padding-right: 0px;
}

.dev-pics img {
    width: 60%;
    height: 60%;
}

.medium-images img {
    width: 400px;
    height: 400px;
}

.small-images img {
    width: 280px;
    height: 280px;
}

.smaller-images img {
    width: 220px;
    height: 220px;
}

.image-spaced img {
    padding-top: 80px;
}

.functionalities-images img {
    width: 35em;
    height: auto; /* Necessary? */
}

.mockup-4-img img {
    height: 24em;
    width: auto;
}

.spaghetti-background {
    background-position: 0 top;
    background-repeat: repeat;
}

img {
    display: block;
    margin: 5px auto;
    /* border: 1px solid #272822; */
    padding: 10px;
    max-width: 90%;
}

/* The real deal */
.inverse {
    background: var(--color-background);
    color: var(--color-inverse-text);
    text-shadow: 0 0 20px #333;
}

.inverse h1 {
    background-color: transparent;
    color: var(--color-main);
    line-height: 0.8em;
}

/* not sure if will use */
a,
a>code {
    color: var(--color-main);
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

code {
    -moz-border-radius: 5px;
    -web-border-radius: 5px;
    /* background: #e7e8e2; */
    border-radius: 5px;
}

#slideshow .slide .content code {
    font-size: 0.8em;
}

#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}

li p {
    line-height: 1.25em;
}

li {
    text-align: left;
    margin: 0 10px 10px 0;
}

/* Two-column layout */
.left-column {
    color: #777;
    width: 50%;
    float: left;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
    color: #000;
}

.right-column {
    width: 50%;
    float: right;
}