@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/droid-serif/DroidSerif-Regular.ttf');
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/droid-serif/DroidSerif-Bold.ttf');
}

@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/droid-serif/DroidSerif-Italic.ttf');
}