@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf')
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf')
}