@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
}

/* Not imported: extra-light(200) and light(300) */