@import "pallete.css";

/* Primary Box */
.box-primary {
    display: block;
    margin: 10px 0px;
    padding: 12px;
    border-radius: .5em;
}

/* To add a symbol before */
/* .box-primary:before {
    content: "\f05a";
    padding-right: 1em;
    font-family: FontAwesome;
  } */

/* Future: Change font probably */
.box-primary {
    color: white;
    background-color: var(--color-main);
}

/* Restivo's */

.box_info,
.box_success,
.box_warning,
.box_error,
.box_example,
.box_regexp {
  display: block;
  margin: 10px 0px;
  padding: 12px;
  border-radius: .5em;
}

.box_info:before {
  content: "\f05a";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_info {
  color: #00529B;
  background-color: #BDE5F8;
}

.box_regexp:before {
  content: "\f002";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_regexp {
  color: #00529B;
  background-color: #BDE5F8;
}

.box_regexp strong {
  color: red;
  background-color: #DFF2BF;
}

.box_success:before {
  content: "\f05d";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.box_example:before {
  content: "\f044";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_example {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.box_warning:before {
  content: "\f06a";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.box_error:before {
  content: "\f057";
  padding-right: 1em;
  font-family: FontAwesome;
}

.box_error {
  color: #D8000C;
  background-color: #FFBABA;
}